[#- 
    DO NOTE EDIT THIS FILE DIRECTLY: 
    Use THEME/developer-tools/section_builder/customized...
#]

[!- import "includes/macros.jinja" as macros -!]

<div [@- macros.section_attributes(page_id, { "section": section, "classes": section.type ~ "_section_wrapper section_wrapper flow" } ) -@]>

    [#- START_NEOPOLIGEN_SOURCE_EXAMPLE -#]
    [!- if extra.example == true -!]
    <div class="[@- section.type -@]_section_source_wrapper section_source_wrapper">
        <div class="[@- section.type -@]_section_source_title section_source_title">Source</div>
        <pre
            class="[@- section.type -@]_section_source_text section_source_text"><code>[@- section.source | trim -@]</pre>
        </code>
    </div>
    <div class="[@- section.type -@]_section_output_title section_output_title">Output</div>
    [!- if section_has_flag(section, "example_flag") == "true" -!]
    <div>(Found '--example_flag' section attribute flag)</div>
    [!- endif -!]
    [!- endif -!]
    [#- END_NEOPOLIGEN_SOURCE_EXAMPLE -#]



    [!- if section.key_value_attributes.forward -!]
        <div class="[@- section.type -@]_section_forward_wrapper section_forward_wrapper">
            [@- section.key_value_attributes.forward -@]
        </div>
    [!- endif -!]

    [!- if section.key_value_attributes.title or section.key_value_attributes.subtitle -!]
    <div class="[@- section.type -@]_section_attribute_title_wrapper section_attribute_title_wrapper">
        [!- endif -!]

        [!- if section.key_value_attributes.title -!]
        <h3 class="[@- section.type -@]_section_attribute_title_text section_attribute_title_text">
            [@- section.key_value_attributes.title -@]
        </h3>
        [!- endif -!]

        [!- if section.key_value_attributes.subtitle -!]
        <h4 class="[@- section.type -@]_section_attribute_subtitle_text section_attribute_subtitle_text">
            [@- section.key_value_attributes.subtitle -@]
        </h4>
        [!- endif -!]

        [!- if section.key_value_attributes.title or section.key_value_attributes.subtitle -!]
    </div>
    [!- endif -!]

    [!- if section.key_value_attributes.preface -!]
    <div class="[@- section.type -@]_section_preface_wrapper section_preface_wrapper">
        [@- section.key_value_attributes.preface -@]
    </div>
    [!- endif -!]

    <div class="[@- section.type -@]_section_checklist_wrapper section_checklist_wrapper">
        <ul class="[@- section.type -@]_section_checklist -@] section_checklist flow">
            [!- for item in section.items -!]
            <li class="[@- section.type -@]_section_checklist_item -@] section_checklist_item flow">
                [!- if item.content.status != none -!]
                [x]
                [!- else -!]
                []
                [!- endif -!]
                [!- for container in item.content.containers -!]
                <p class="[@- section.type -@]_section_checklist_item_p -@] section_checklist_item_p">
                    [@- output_payload(page_id, container, extras) -@]
                </p>
                [!- endfor -!]
            </li>
            [!- endfor -!]
        </ul>
    </div>

    [!- if section.key_value_attributes.afterword -!]
    <div class="[@- section.type -@]_section_afterword_wrapper section_afterword_wrapper">
        [@- section.key_value_attributes.afterword -@]
    </div>
    [!- endif -!]

