<section class="original_content flow">
<div class="original_content_toggle_wrapper">
    <button id="outer_original_content_toggle" class="original_content_toggle" data-status="hidden">Show original content file</button>
</div>
<div id="original_content_display" class="hidden flow">
<h3>Original Content File</h3>
<p>This is the file that produced this page</p>
<pre ><code>{% autoescape true %}{{ site.page_source(page_id) }}{% endautoescape %}</pre></code>
<div class="original_content_toggle_wrapper">
    <button id="inner_original_content_toggle" class="original_content_toggle" data-status="hidden">Show original content file</button>
</div>
</div>
</section>