<section class="prelude">
<img src="{{ site.image('under-construction-2024').raw_href }}" alt="An Under Construction Banner" /> 
<h4>Head's up</h4>
<p>The site is public, but it's still very much 
a work in progress and in migration. You can 
play with the builder if you want to install
it from source code but probably you're better
waiting until the middle of March when the full
first iteration is ready</p>
</section>