<div class="sidebar">
<nav>
<div>{{ macros.link_or_title( current_page = page_id, target_page = "2auhjdnh" )}}</div>
{# {{ macros.page_menu(current_page = page_id, pages = [ "2cizgxp9", "2cjwvi2l" ])}} #}

{# {{ macros.page_menu(current_page = page_id, pages = [ "2cjeea0x", "2ck4i0ix" ])}} #}
{{ macros.folder_menu(current_page = page_id, folders = [
    ["documentation"],
    ["quick-start"],
    ["examples"],
    ["philosophy"],
    ])}}
</nav>
</div>