{%- import "includes/macros.jinja" as macros -%}

{%- set nav_links = site.nav_from_files_and_folders(
    page_id, 
    [
      ["2dcxjwzx"]
    ]
) -%}





{# {%- set nav_links = site.nav_from_files_and_folders_dev
  (page_id, [
    ["2auhjdnh"],
    ["2cizgxp9"],
    ["examples"],
    ["release-notes"],
    ["documentation"],
    ["roadmap"],
    ["philosophy"],
    ["miscelaneous"]
]) -%} #}



{# {%- set nav_links = site.nav_from_files_and_folders(page_id, [
    ["2auhjdnh"],
    ["2cizgxp9"],
    ["examples"],
    ["release-notes"],
    ["documentation"],
    ["roadmap"],
    ["philosophy"],
    ["miscelaneous"]
]) -%} #}


<!DOCTYPE html>

<html lang="en">
<head>{% include "includes/head.jinja" -%}</head>
<body>
  <div class="page_wrapper">
    <div class="sidebar_article_group">
      {%- include "includes/sidebar.jinja" -%}
      <article class="flow">
        {{- macros.place_section(page_id, "forward") -}} 
        {{- macros.place_section(page_id, "title") -}}
        {{- macros.main_body(page_id) -}}
      </article>
    </div>
    {%- include "includes/footer.jinja" -%}
  </div>
</body>
</html>

