{%- import "includes/macros.jinja" as macros -%}

<!DOCTYPE html>
<html lang="en">
<head>{% include "includes/head.jinja" -%}</head>
<body>
  <div class="page_wrapper">{{- '' -}}
    {%- include "includes/header.jinja" -%}
      <div class="column_holder">
        <div class="sidebar">
          <h3>
            {{ 
              macros.link_or_title(
                current_page = page_id, 
                target_page = "2cgceffj",
                title_override = "Section Categories"
              )
            }}
          </h3>
          <ul>
            {{- 
              macros.list_filtered_pages_alpha(
                current_page = page_id, 
                include_tags = [["sections"]], 
                exclude_tags = ["2cgceffj"]
              ) 
            -}}
          </ul>
        </div>
        <article class="flow">
          {{- macros.place_section(page_id, "title") -}}
          {{- macros.main_body(page_id) -}}
        </article>{{- '' -}}
      </div>
    {%- include "includes/footer.jinja" -%}
  </div>{{- '' -}}
</body>
</html>
