@font-face {
  font-family: 'Atkinson-Hyperlegible';
  src: url('/theme/fonts/Atkinson-Hyperlegible-Regular-102.ttf')
    format('opentype');
}

@font-face {
  font-family: 'Atkinson-Hyperlegible-Bold';
  src: url('/theme/fonts/Atkinson-Hyperlegible-Bold-102.ttf')
    format('opentype');
}

:root {
  --regular: 'Atkinson-Hyperlegible', sans-serif;
  --heavy: 'Atkinson-Hyperlegible-Bold', sans-serif;
}

:root {
  --border-0: 1px solid var(--color-0);
  --border-1: 1px solid var(--color-1);
  --border-2: 1px solid var(--color-2);
  --border-3: 1px solid var(--color-3);
  --border-4: 1px solid var(--color-4);
  --border-5: 1px solid var(--color-5);
  --border-6: 1px solid var(--color-6);
  --border-7: 1px solid var(--color-7);
  --color-0: black;
  --color-1: hsl(196, 74%, 94%);
  --color-2: hsl(197, 77%, 47%);
  --color-3: hsl(197, 77%, 69%);
  --color-4: hsl(197, 68%, 23%);
  --color-5: #474747;
  --color-6: #222222;
  --color-7: #aaaaaa;
  --padding-1: 0.2rem;
  --padding-2: 0.5rem;
  --padding-3: 0.8rem;
  --padding-4: 1.1rem;
  --padding-5: 1.5rem;
  --padding-6: 1.8rem;
  --padding-7: 2.3rem;
  --radius-1: 0.2rem;
  --radius-1-inside: 0.1rem;
  --radius-2: 0.3rem;
  --radius-2-inside: 0.2rem;
  --radius-3: 0.5rem;
  --radius-3-inside: 0.4rem;
  --radius-4: 0.7rem;
  --radius-4-inside: 0.6rem;
  --radius-5: 0.9rem;
  --radius-5-inside: 0.8rem;
  --radius-6: 1.2rem;
  --radius-6-inside: 1.1rem;
  --size-1: clamp(2.8rem, calc(2.45rem + 1.77vw), 3.52rem);
  --size-2: clamp(1.94rem, calc(1.77rem + 0.87vw), 2.14rem);
  --size-3: clamp(1.62rem, calc(1.5rem + 0.58vw), 1.85rem);
  --size-4: clamp(0.94rem, calc(0.92rem + 0.11vw), 1rem);
  --size-5: clamp(0.78rem, calc(0.77rem + 0.03vw), 0.8rem);
  --size-6: clamp(0.68rem, calc(0.67rem + 0.03vw), 0.7rem);
  --width-1: 18ch;
  --width-2: 27ch;
  --width-3: 48ch;
  --width-4: 56ch;
  --width-5: 60ch;
  --width-6: 68ch;
  --width-6: 74ch;
}

/* 
  TODO: Find light mode colors
  @media (prefers-color-scheme: light) {
    :root {
    --color-0: black;
    --color-1: hsl(196, 74%, 94%);
    --color-2: hsl(197, 77%, 47%);
    --color-3: hsl(197, 77%, 69%);
    --color-4: hsl(197, 68%, 23%);
    --color-5: #474747;
    --color-6: #222222;
    }
  }
  */

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

a {
  color: var(--color-2);
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--color-3);
}

.aside_section_wrapper {
  border: var(--border-1);
  border-radius: var(--radius-3);
  padding: var(--padding-3);
}

body {
  background-color: var(--color-0);
  color: var(--color-1);
  line-height: 1.4;
  font-family: var(--regular);
  font-size: var(--size-4);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heavy);
}

h1 {
  margin-top: 1em;
  font-size: var(--size-1);
}

h2 {
  --flow-space: 1.3em;
  font-size: var(--size-2);
}

h3 {
  --flow-space: 1.3em;
  font-size: var(--size-3);
}

h4 {
  --flow-space: 1.3em;
  font-size: var(--size-4);
}

h5 {
  --flow-space: 1.3em;
  font-size: var(--size-5);
}

h6 {
  --flow-space: 1.3em;
  font-size: var(--size-6);
}

html {
  color-scheme: dark light;
}

img {
  max-width: 100%;
  display: block;
}

kbd {
  background-color: #333;
  padding-left: var(--padding-2);
  padding-right: var(--padding-2);
  border-radius: var(--radius-1);
  outline: 1px solid #777;
}

li::marker {
  color: var(--color-1);
}

.menu_folder_children_hidden {
  display: none;
}

.menu_folder_children_visible {
  display: block;
}

pre {
  font-size: var(--size-5);
}

strong {
  font-family: var(--heavy);
}

ul {
  padding-left: var(--padding-7);
}

ul > :where(:not(:first-child)) {
  margin-top: 1em;
}

.blue {
  color: blue;
}

.centered {
  text-align: center;
}

.code_section_content_pre {
  border: var(--border-1);
  border-radius: var(--radius-3);
  padding: var(--padding-3);
}

.example_nested_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.example_nested_grid > .flow {
  margin-top: 0;
}

.example_pre_content {
  color: var(--color-1);
}

.flow > :where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.green {
  color: green;
}

.page_source_title {
  border-bottom: var(--border-2);
  margin-bottom: var(--padding-6);
}

.page_source_wrapper {
  margin-top: var(--padding-7);
  border: var(--border-2);
  border-radius: var(--radius-4);
  padding: var(--padding-4);
}

.page_wrapper {
  width: min(100% - 3rem, var(--width-4));
  margin-top: 0;
  margin-inline: auto;
}

.pre_section_content_pre {
  border: var(--border-1);
  border-radius: var(--radius-3);
  padding: var(--padding-3);
}

.red {
  color: red;
}

.section_example {
  border: var(--border-1);
  border-radius: var(--radius-4);
  padding: var(--padding-4);
  margin-top: var(--padding-6);
}

.section_example_source {
  border: var(--border-2);
  border-radius: var(--radius-4);
  padding: var(--padding-4);
}

.section_example .section_afterword_wrapper {
  border: var(--border-5);
  margin: var(--padding-4) var(--padding-4);
  padding: var(--padding-2);
}

.section_example .section_forward_wrapper {
  border: var(--border-5);
  margin: var(--padding-4) var(--padding-4);
  padding: var(--padding-2);
}

.section_example .section_source_title {
  color: var(--color-2);
  padding-top: var(--padding-2);
  font-family: var(--heavy);
  font-style: italic;
}

.section_example .section_example_output_title {
  color: var(--color-2);
  border-top: var(--border-2);
  border-bottom: var(--border-2);
  padding-top: var(--padding-2);
  padding-bottom: var(--padding-2);
  font-family: var(--heavy);
  font-style: italic;
  margin-bottom: 1rem;
}

.section_example .section_source_text {
  padding-top: var(--padding-2);
  color: var(--color-7);
}

.section_example .section_subtitle_text {
  padding-left: var(--padding-4);
  border-bottom: var(--border-4);
}

.section_example .section_preface_wrapper {
  border: var(--border-5);
  margin: var(--padding-4) var(--padding-4);
  padding: var(--padding-2);
}

.section_example .section_title_text {
  border-bottom: var(--border-4);
}

.sidebar_article_group {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.strike {
  text-decoration: line-through;
}
