[!- import "includes/macros.jinja" as macros -!]

[!- import "includes/macros.jinja" as macros -!]

<section [@- section_attributes(page_id, {"section": section, "classes": section.type ~ "_section flow" } ) -@]>
    [#- START_NEOPOLIGEN_SOURCE_EXAMPLE_OPEN -#]
    [!- if extra.example == true -!]
        <div class="section_example_source">
            <h3>Source</h3>
            <pre><code>
                [!- autoescape true -!][@- section.source | trim -@][!- endautoescape -!]
            </code></pre>
        </div>
        <div class="section_example_output">
            <h3>Output</h3>
            [!- if section_has_flag(section, "example_flag") == "true" -!]
                <div class="example_flag_note">(Found '--example_flag' section attribute flag)</div>
            [!- endif -!]
    [!- endif -!]
    [#- END_NEOPOLIGEN_SOURCE_EXAMPLE_OPEN -#]

    [!- if section.key_value_attributes.forward -!]
        <div class="forward">
            [@- section.key_value_attributes.forward -@]
        </div>
    [!- endif -!]

    [!- if section.key_value_attributes.title or section.key_value_attributes.subtitle -!]
    <div class="[@- section.type -@]_heading_group">
    [!- endif -!]
        [!- if section.key_value_attributes.title -!]
        <h2>
            [@- section.key_value_attributes.title -@]
        </h2>
        [!- endif -!]
        [!- if section.key_value_attributes.subtitle -!]
        <div class="heading_subtitle">
            [@- section.key_value_attributes.subtitle -@]
        </div>
        [!- endif -!]
    [!- if section.key_value_attributes.title or section.key_value_attributes.subtitle -!]
    </div>
    [!- endif -!]

    [!- if section.key_value_attributes.preface -!]
        <div class="preface">
            [@- section.key_value_attributes.preface -@]
        </div>
    [!- endif -!]

    <div class="content">
        [!- autoescape false -!]
        [@- section.category.content.text -@]
        [!- endautoescape -!]
    </div>

    [!- if section.key_value_attributes.afterword -!]
        <div class="afterword">
            [@- section.key_value_attributes.afterword -@]
        </div>
    [!- endif -!]


    [#- START_NEOPOLIGEN_SOURCE_EXAMPLE_CLOSE -#]
    [!- if extra.example == true -!]
        </div>
    [!- endif -!]
    [#- END_NEOPOLIGEN_SOURCE_EXAMPLE_CLOSE -#]

